<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>.New Filter.Ulysses_Public_Filter</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>.New Filter.Ulysses_Public_Filter</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>518941376.35802001</real>
				<key>lastModification</key>
				<real>518941376.35802001</real>
				<key>version</key>
				<dict>
					<key>5b1b971aa01a4c9207f5df2fe1f901861513a158b1dd66c5e68d2229b2e90c4a</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-06-09-information-per-repository.md</key>
			<dict>
				<key>lastModification</key>
				<real>518941512.68743402</real>
				<key>version</key>
				<dict>
					<key>5b1b971aa01a4c9207f5df2fe1f901861513a158b1dd66c5e68d2229b2e90c4a</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-06-09-information-per-repository.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>5b1b971aa01a4c9207f5df2fe1f901861513a158b1dd66c5e68d2229b2e90c4a</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>5b1b971aa01a4c9207f5df2fe1f901861513a158b1dd66c5e68d2229b2e90c4a</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
